*.class

# package file
*.war
*.ear

#kdiff3 ingore
*.orig

#meavn ignore
target/

# eclipse  ignore
.settings/
.porject
.classpath

#idea
.idea/
/idea/
*.ipr

# temp file
*.log
*.cache
*.diff
*.patch
*.tmp

#system ignore
.DS_Store
Thumbs.db




